In [1]:
import wbgapi as wb

In [15]:
wb.series.info(q="Agricultural")

id                    value
--------------------  -----------------------------------------------------------------------------
AG.AGR.TRAC.NO        Agricultural machinery, tractors
AG.LND.AGRI.K2        Agricultural land (sq. km)
AG.LND.AGRI.ZS        Agricultural land (% of land area)
AG.LND.IRIG.AG.ZS     Agricultural irrigated land (% of total agricultural land)
AG.LND.TRAC.ZS        Agricultural machinery, tractors per 100 sq. km of arable land
EN.ATM.METH.AG.KT.CE  Agricultural methane emissions (thousand metric tons of CO2 equivalent)
EN.ATM.METH.AG.ZS     Agricultural methane emissions (% of total)
EN.ATM.NOXE.AG.KT.CE  Agricultural nitrous oxide emissions (thousand metric tons of CO2 equivalent)
EN.ATM.NOXE.AG.ZS     Agricultural nitrous oxide emissions (% of total)
TM.VAL.AGRI.ZS.UN     Agricultural raw materials imports (% of merchandise imports)
TX.VAL.AGRI.ZS.UN     Agricultural raw materials exports (% of merchandise exports)
                      11 elements

In [26]:
wb.data.DataFrame('AG.AGR.TRAC.NO',time=range(2000,2015),labels = True,columns='series').reset_index()

     economy    time                      Country  Time  AG.AGR.TRAC.NO
0        ZWE  YR2014                     Zimbabwe  2014             NaN
1        ZWE  YR2013                     Zimbabwe  2013             NaN
2        ZWE  YR2012                     Zimbabwe  2012             NaN
3        ZWE  YR2011                     Zimbabwe  2011             NaN
4        ZWE  YR2010                     Zimbabwe  2010             NaN
...      ...     ...                          ...   ...             ...
3985     AFE  YR2004  Africa Eastern and Southern  2004             NaN
3986     AFE  YR2003  Africa Eastern and Southern  2003             NaN
3987     AFE  YR2002  Africa Eastern and Southern  2002             NaN
3988     AFE  YR2001  Africa Eastern and Southern  2001             NaN
3989     AFE  YR2000  Africa Eastern and Southern  2000             NaN

[3990 rows x 5 columns]