In [ ]:
import wbgapi as wb
import pandas as pd
import wbdata

In [10]:
Data = pd.DataFrame(wb.series.list())
newDf = Data[Data.value.str.contains('Agricultural')]
newDf

                        id                                              value
0           AG.AGR.TRAC.NO                   Agricultural machinery, tractors
3           AG.LND.AGRI.K2                         Agricultural land (sq. km)
4           AG.LND.AGRI.ZS                 Agricultural land (% of land area)
17       AG.LND.IRIG.AG.ZS  Agricultural irrigated land (% of total agricu...
22          AG.LND.TRAC.ZS  Agricultural machinery, tractors per 100 sq. k...
239   EN.ATM.METH.AG.KT.CE  Agricultural methane emissions (thousand metri...
240      EN.ATM.METH.AG.ZS        Agricultural methane emissions (% of total)
245   EN.ATM.NOXE.AG.KT.CE  Agricultural nitrous oxide emissions (thousand...
246      EN.ATM.NOXE.AG.ZS  Agricultural nitrous oxide emissions (% of total)
1379     TM.VAL.AGRI.ZS.UN  Agricultural raw materials imports (% of merch...
1408     TX.VAL.AGRI.ZS.UN  Agricultural raw materials exports (% of merch...

In [17]:
wb.data.DataFrame('AG.CON.FERT.PT.ZS',labels = True,columns='series').reset_index()

      economy    time                      Country  Time  AG.CON.FERT.PT.ZS
0         ZWE  YR2021                     Zimbabwe  2021                NaN
1         ZWE  YR2020                     Zimbabwe  2020         623.474178
2         ZWE  YR2019                     Zimbabwe  2019         623.474178
3         ZWE  YR2018                     Zimbabwe  2018         623.474178
4         ZWE  YR2017                     Zimbabwe  2017         671.559633
...       ...     ...                          ...   ...                ...
16487     AFE  YR1964  Africa Eastern and Southern  1964         170.154237
16488     AFE  YR1963  Africa Eastern and Southern  1963         146.703323
16489     AFE  YR1962  Africa Eastern and Southern  1962         146.989616
16490     AFE  YR1961  Africa Eastern and Southern  1961         158.829085
16491     AFE  YR1960  Africa Eastern and Southern  1960                NaN

[16492 rows x 5 columns]